.col-item, .class-two {
  padding-top: 20px;
}

.class-two {
  margin-top: 10px;
}

.class {
  border-radius: 10px;
  color: #ffffff !important;
}

.change {
  padding-top: 3%;
  font-size: 3rem;
}

body {
  background: #ffffff !important;
}